*{
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #486958;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: black;
}

.i-1 {
  padding-left: 150px;
}
.a-1 {
  color: black;
  padding-left: 38px;
  text-decoration: none;
}
.a-2 {
  color: black;
  padding-left: 38px;
  text-decoration: none;
}
.a-3 {
  color: black;
  padding-left: 38px;
  text-decoration: none;
}
.a-4 {
  color: black;
  padding-left: 38px;
  text-decoration: none;
}
button {
  margin-left: 150px;
  padding: 15px 55px;
  color: white;
  background-color: rgb(90, 168, 168);
  border-radius: 10px;
}
